{% extends 'base.html' %} {% block title%}About{% endblock %} {% block content%}
<h1>About Us</h1>
<h5>
  Apollo Hospitals Enterprise Limited is an Indian for-profit private hospital
  network headquartered in Chennai. It is the largest hospital chain in India,
  with a network of 71 owned and managed hospitals. Along with the eponymous
  hospital chain, the company also operates pharmacies, primary care and
  diagnostic centres, telehealth clinics, and digital healthcare services among
  others through its subsidiaries. The company was founded by Prathap C. Reddy
  in 1983 as the first corporate healthcare provider in India. Several of
  Apollo's hospitals have been among the first in India to receive international
  healthcare accreditation by the America-based Joint Commission International
  as well as NABH accreditation.
</h5>
{% endblock %}
